h2 {
    color: red;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}