h2 {
    color: cyan;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

p {
    font-family: monospace;
}

img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.centerText {
    text-align: center;
}

/*boarder*/
div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}

/*navigation bar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    /*keeps navigation bar fixed to the top of page when scrolling.
      top is the distance from top of page in percentage
      width is the width of the navigation bar*/
    position: fixed;
    top: 0;
    width: 100%;

}



li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
}

/*
li a:hover {
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}*/